* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
/init export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

public/site.webmanifest                merge=keepours
resources/css/app.css                  merge=keepours
resources/llms.txt                     merge=keepours
resources/views/pages/index.blade.php  merge=keepours
resources/views/svg/logo.blade.php     merge=keepours
tests/Feature/HomeTest.php             merge=keepours
